<% content_for :title, 'Games List' %>

<form id="g-search">
  <div class="container">
    <div class="row gx-5">
      <div class="col-6 input-icons">
        <input
          type="text"
          class="form-control"
          id="g-search-title"
          name="title"
          placeholder="Title or Barcode"
          value="<%= @searchTitle %>"
          autofocus
        >
        <i class="bi-search"></i>
      </div>
      <div class="col-4 input-icons">
        <input
          type="text"
          class="form-control"
          name="publisher"
          placeholder="Publisher"
          value="<%= @searchPublisher %>"
        >
        <i class="bi-search"></i>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary form-control">Search</button>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="btn-group search-btn" data-toggle="buttons">

      <input
        type="checkbox"
        id="g-search-valuable"
        name="valuable"
        class="btn-check"
        autocomplete="off"
        <%= @searchValuable ? "checked" : "" %>
      >
      <label class="btn btn-outline-secondary" for="g-search-valuable">Valuable?
      </label>
    </div>
    <div class="btn-group-toggle search-btn" data-toggle="buttons">
      <input
        type="checkbox"
        id="g-search-checked"
        name="checked"
        class="btn-check"
        autocomplete="off"
        <%= @searchChecked ? "checked" : "" %>
      >
      <label class="btn btn-outline-secondary" for="g-search-checked">Checked Out?
      </label>
    </div>
        <div class="btn-group-toggle search-btn" data-toggle="buttons">
      <input
        type="checkbox"
        id="g-search-loaned"
        name="loaned"
        class="btn-check"
        autocomplete="off"
        <%= @searchLoaned ? "checked" : "" %>
      >
      <label class="btn btn-outline-secondary" for="g-search-loaned">Loaned Out?
      </label>
    </div>
    <div
      style="display: <%= @searchLoaned ? "inline-block" : "none"%>;"
      id="g-search-group"
    >
      <label class="checkbox-inline">Loaned To:
      </label>
      <% options = options_from_collection_for_select(Group.active, 'id', 'name', @searchGroup) %>
      <%= select_tag(:group, options, { :prompt => 'Any Group' }) %>
    </div>
  </div>
</form>
<div id="games-table">
  <%= render 'table' %>
</div>
